
<h2><%=session[:name]%> you have: <span class = "money">$<%=session[:money]%></span></h2>
<h3>How much do you want to bet?</h3>

<div>
<form action="/get_bet" method = "post">
  <input type="text" name = "bet" class = "button">
  <input type="submit" value = "Bet!" class = 'btn btn-success button'>
</form>
</div>