<h2>Hi, welcome to my awesome blackjack game!</h2>
<h3>Tell me your name?</h3>

<div>
<form action="/get_name" method = "post">
  <input type="text" name = "name" class = "button">
  <input type="submit" value = "Submit" class = 'btn btn-success button'>
</form>
</div>